.progress-bar {
    background-color: #09B864;
    border-radius: 4px;
    box-shadow: inset 0 0.5em 0.5em rgba(0,0,0,0.05);
    height: 5px;
    margin: 2rem 0 2rem 0;
    overflow: hidden;
    position: relative;
    transform: translateZ(0);
    width: 100%;
  }

  .progress-bar__bar {
    background-color: #ececec;
    box-shadow: inset 0 0.5em 0.5em rgba(94, 49, 49, 0.05);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  .progress-bar__bar.active {
    transition: all 5000ms ease-out;
    transform: translateX(100%);
    -webkit-transform: translateX(100%)
  }